<div class="nav">
    <ul>
      <li><a href="{{ path('blog_post_index') }}">Blog</a></li>
      <li><a href="{{ path('blog_category_index') }}">Catégories</a></li>
      <li><a href="#">Sources</a></li>
    </ul>
</div>